<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="istop.js"></script>
		<script type="text/javascript" src="/opt/bitnami/apps/django/jquery-3.2.1.min.js"></script> 
		<script type="text/javascript" src="/opt/bitnami/apps/django/Mottie-tablesorter-08bf513/js/jquery.tablesorter.js"></script> 
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
  
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/r-2.1.1/datatables.min.css"/>
 
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/r-2.1.1/datatables.min.js"></script>


		 <style>
		    body {
			padding: 10px;
		    }
		    table{
		    	border-collapse: collapse;
		    	text-align: center;
		    	padding:10px
		    }
		    table,th,td{
		    	border: 1px solid black;
			border-collapse: collapse;
			padding: 10px;
			white-space: nowrap;
		    }
	            th{
		      background-color: black;
		      color: white;
                      text-align: center;
			}
		    tr:nth-child(odd) {
		     background-color: Aliceblue;
			}
		    tr:nth-child(even) {
		     background-color: mintcream;
			}
	    </style>
	    <title>iStop</title>
    </head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">iSTOP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{% if nbar == 'home' %}active{% endif %}"><a href="/istop/query">Home</a></li>
        <li class="{% if nbar == 'about' %}active{% endif %}"><a href="/istop/faq">FAQ</a></li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
       <li><a href ="https://www.ciccialab.com"><font size="+1"><span class="glyphicon glyphicon-home"></span> Ciccia Lab</font></a></li>
   </ul>
</div>
  </div>
</nav>
    <body>
        <h1 style = "color: green;"> {{ SpeciesName }}</h1>
		<p> The lower case letter indicates the <b>targeted base</b>.</span> <br> Example: GTTCCC<b>c</b>AATTGAAAGTTGC</p>
<br><b>Using the links</b> (only for organisms in the UCSC genome browser): Before clicking the link on each sgSTOP sequence, make sure to set the BLAT search in the UCSC genome browser to the organism that you want to search by clicking  <a href="http://genome.ucsc.edu/cgi-bin/hgBlat">here</a>. Then click on the link and it will automatically search for the sgSTOP in the UCSC genome browser.</br>
<br></br>

  	{%  if query_results %}
		<table id="dataTable" class="display table" cellspacing="0" width="100%">
				<thead> 
				<tr>
					{% for item in headers %}
					<th>{{ item }}</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for item in query_results %}
				<tr>
					{% if 'id' in headers %} <td>{{ item.id }}</td> {% endif %}
					{% if 'Gene Name' in headers %} <td datatable-toggle="tooltip" title="Click here to see more information about the sgSTOPs">{{ item.gene }}</td> {% endif %}
					{% if 'Chromosome' in headers %} <td>{{ item.chr }}</td> {% endif %}
					{% if 'Strand' in headers %} <td>{{ item.strand }}</td> {% endif %}
					{% if 'Genomic Coordinate' in headers %} <td>{{ item.genome_coord }}</td> {% endif %}
					{% if 'Transcript(s)' in headers %} <td>{{ item.txs }}</td> {% endif %}
					{% if 'Targeted Codon' in headers %} <td>{{ item.codon }}</td> {% endif %}
					{% if 'Number of Isoforms' in headers %} <td>{{ item.n_tx_in_gene }}</td> {% endif %}
					{% if 'Percent Isoforms' in headers %} <td>{{ item.percent_tx }}</td> {% endif %}
					{% if 'Relative Position in Largest Isoform' in headers %} <td>{{ item.rel_pos_largest_isoform }}</td> {% endif %}
					{% if 'No Upstream G' in headers %} <td>{{ item.no_upstream_g }}</td> {% endif %}
					{% if 'RFLP Loss' in headers %} <td>{{ item.rflp_loss }}</td> {% endif %}
					{% if 'RFLP Gain' in headers %} <td>{{ item.rflp_gain }}</td> {% endif %}
					{% if 'NMD Prediction (%)' in headers %} <td>{{ item.percent_nmd }} </td> {% endif %}
                                        {% if 'PAM: NGG' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgngg }}">{{ item.sgngg }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NGG' in headers %} <td>{{ item.sgngg_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NGG' in headers %} <td>{{ item.sgngg_spacing }}</td> {% endif %}
					{% if 'PAM: NGA' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgnga }}">{{ item.sgnga }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NGA' in headers %} <td>{{ item.sgnga_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NGA' in headers %} <td>{{ item.sgnga_spacing }}</td> {% endif %}
					{% if 'PAM: NGCG' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgngcg }}">{{ item.sgngcg }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NGCG' in headers %} <td>{{ item.sgngcg_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NGCG' in headers %} <td>{{ item.sgngcg_spacing }}</td> {% endif %}
					{% if 'PAM: NGAG' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgngag }}">{{ item.sgngag }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NGAG' in headers %} <td>{{ item.sgngag_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NGAG' in headers %} <td>{{ item.sgngag_spacing }}</td> {% endif %}
					{% if 'PAM: NNGRRT' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgnngrrt }}">{{ item.sgnngrrt }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NNGRRT' in headers %} <td>{{ item.sgnngrrt_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NNGRRT' in headers %} <td>{{ item.sgnngrrt_spacing }}</td> {% endif %}
					{% if 'PAM: NNNRRT' in headers %} <td><a href="http://genome.ucsc.edu/cgi-bin/hgBlat?type=BLAT%27s+guess&userSeq={{ item.sgnnnrrt }}">{{ item.sgnnnrrt }}</a></td> {% endif %}
					{% if 'Off-target Prediction PAM: NNNRRT' in headers %} <td>{{ item.sgnnnrrt_matches }}</td> {% endif %}
					{% if 'Spacing PAM: NNNRRT' in headers %} <td>{{ item.sgnnnrrt_spacing }}</td> {% endif %}
                                        {% if 'Cancer type(s)' in headers %} <td> {{ item.cancer_type }} </td> {% endif %}
				</tr>
				{% endfor %}
			</tbody>
			</table>
		{%  endif %}
	</body>

<script>
$(document).ready(function() {
      var table = $("#dataTable").DataTable( { 
          dom: 'Bfrtip',
          buttons: [
             'colvis',
             { extend: 'excelHtml5', text: 'Download Table (Excel)'},
             { extend: 'csvHtml5', text: 'Download Table (.csv)'},
             'pageLength'
          ],
          responsive: true,
          "order":[[7,"asc"]],
          "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
       	  columnDefs: [
           { responsivePriority: 1, targets:1 },
           { responsivePriority: 2, targets:2 },
         
	   { "visible": false, "targets": 1 },
	   { "visible": false, "targets": 2 },
           { "visible": false, "targets": 3 },
           { "visible": false, "targets": 4 },
           { "visible": false, "targets": 5 },
           { "visible": false, "targets": 6 },


		]
	} );
	

} );

$(function () {
        $("body").tooltip({
               selector: '[data-toggle="tooltip"]',
               container: 'body'
     });
})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105009400-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
